@font-face {
	font-family: 'Bokonique';
	src: url(../../assets/fonts/Bokonique-Bold.ttf) format('truetype'),
	url(../../assets/fonts/Bokonique-Bold.otf) format('otf');
	font-weight: 600;
	font-style: normal;
}