.footer-basic {
  padding: 40px 0;
  background-color: #ffffff;
  color: #4b4c4d;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

.form-container {
  margin: 0 auto;
  padding: 34px 55px 100px;
  border-radius: 12px;
  box-shadow: 0 0 10px 0 rgba(143, 169, 175, 0.4);
  background-color: #ffffff;
}

section {
  max-width: 1272px;
  margin: 100px auto;
}

.number-circle {
  flex: 0 0 56px;
  width: 56px;
  height: 56px;
  border-radius: 28px;
  margin-right: 24px;
  background-color: #d5f8ff;
}

.lang-button img {
  margin: 0 16px 3px 0;
}

.from-language {
  padding-bottom: 80px;
  margin-top: 0px;
}

.middle {
  margin: 0 20px;
}

.form-divider {
  width: 100%;
  height: 0;
  margin: 34px 0 82px;
  border: solid 1px #d9d9d9;
}

.to-language {
  padding-bottom: 80px;
}

.type-button img {
  margin: 0 auto;
}

.number-circle__number {
  font-family: 'Bokonique';
  font-size: 26px;
}

.nav-item.upload-tabs__items-file {
  /*background-color: none;*/
}

.text-input {
  width: 670px;
  height: 180px;
  /*margin: 12px 0 0;*/
  /*padding: 22px 396px 139px 22px;*/
  border-radius: 6px;
  border: solid 0.5px #8aa7ae;
  background-color: #ffffff;
}

.pages {
  padding: 40px;
}

.order-total-heading {
  margin: 0 20px 0 0;
}

.order-total-value {
  margin: 0;
}

