@font-face {
	font-family: 'Mardoto-Regular';
	src: url(../../assets/fonts/Mardoto-Regular.ttf) format('truetype'),
	url(../../assets/fonts/Mardoto-Regular.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
}