@font-face {
	font-family: 'Mardoto';
	src: url(../../assets/fonts/Mardoto-Bold.ttf) format('truetype'),
	url(../../assets/fonts/Mardoto-Bold.ttf) format('truetype');
	font-weight: 600;
	font-style: normal;
}