.navigation-clean .navbar-brand {
  font-weight: bold;
  color: inherit;
}

.navigation-clean .navbar-toggler {
  border-color: #ddd;
}

.navigation-clean .navbar-toggler:hover, .navigation-clean .navbar-toggler:focus {
  background: none;
}

.navigation-clean .navbar-toggler {
  color: #888;
}

.navigation-clean .navbar-collapse, .navigation-clean .form-inline {
  border-top-color: #ddd;
}

.navigation-clean.navbar-light .navbar-nav .nav-link.active, .navigation-clean.navbar-light .navbar-nav .nav-link.active:focus, .navigation-clean.navbar-light .navbar-nav .nav-link.active:hover {
  color: #fff;
  box-shadow: none;
  background: none;
  pointer-events: none;
}

.navigation-clean.navbar-light .navbar-nav .nav-link {
  color: #fff;
  letter-spacing: 0.64px;
  margin: 0 20px;
  white-space: nowrap;
}

.navigation-clean .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: none;
  background-color: #fff;
  border-radius: 2px;
}

.navigation-clean .dropdown-menu .dropdown-item:focus, .navigation-clean .dropdown-menu .dropdown-item:hover {
  background: #eee;
  color: inherit;
}

.navbar {
  padding: 24px 20px 20px;
  font-family: 'Mardoto';
  color: #fff;
  font-size: 16px;
  margin: 0 auto;
  background-color: #20b1e4;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding: 0;
}

.logo__img {
  max-width: 84px;
  margin: 2px 0;
}

.how {
  max-width: 1260px;
}

ul {
  margin: 0;
  padding: 0;
}

.features-nav-tabs .features-nav-link.active {
  background-color: #20B1E4;
  box-shadow: 4px 8px 10px #a3e3f9;
  border-radius: 50px;
  z-index: 10;
  color: #fff;
  text-transform: uppercase;
  border: none;
  padding: 1rem 2rem;
  font-weight: 600;
  letter-spacing: 1px;
}

@media (min-width: 300px) {
  .features-tabs {
    max-width: 860px;
    font-family: 'Bokonique-Regular';
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .features-tabs {
    max-width: 860px;
    font-family: 'Bokonique';
    font-size: 14px;
    font-weight: 600;
    margin: 0 auto;
  }
}

.nav-tabs > .nav-link {
  background-color: #fff;
}

.tabs > .nav-link {
  padding: 0;
}

@media (min-width: 300px) {
  .features-nav-tabs .features-nav-link {
    color: #686868;
    font-weight: 400;
    letter-spacing: 0.5px;
    border: none;
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .features-nav-tabs .features-nav-link {
    padding: 1rem 2rem;
    color: #686868;
    font-weight: 400;
    letter-spacing: 0.5px;
    border: none;
    font-size: 14px;
  }
}

.features-nav-tabs .features-nav-link:focus, .features-nav-tabs .features-nav-link:hover {
  border: none;
}

.testimony {
  font-family: 'Mardoto-Regular';
  font-size: 16px;
}

.testimony__name {
  color: #20B1E4;
  font-weight: 600;
}

.testimony__text {
  padding: 24px 0 18px;
  margin-bottom: 0;
}

.download p {
  max-width: 607px;
  margin: 0 auto 32px;
}

.footer-container {
  max-width: 1140px;
  margin: 0 auto;
}

@media (min-width: 300px) {
  .footer-nav {
    justify-content: center;
    flex-direction: column;
    padding: 30px 0;
  }
}

@media (min-width: 768px) {
  .footer-nav {
    flex: 1 1 100%;
    display: flex;
    justify-content: start;
    flex-direction: row !important;
    align-items: center;
    padding: 24px 0 20px;
  }
}

@media (min-width: 300px) {
  .footer__navlink {
    text-transform: uppercase;
    letter-spacing: 0.64px;
    font-family: 'Mardoto';
    color: #fff;
    font-size: 16px;
    list-style-type: none;
    text-decoration: none;
  }
}

@media (min-width: 768px) {
  .footer__navlink {
    margin-right: 16px;
    text-transform: uppercase;
    letter-spacing: 0.64px;
    font-family: 'Mardoto';
    color: #fff;
    font-size: 16px;
    list-style-type: none;
    text-decoration: none;
    white-space: nowrap;
  }
}

@media (min-width: 992px) {
  .footer__navlink {
    margin-right: 36px;
    text-transform: uppercase;
    letter-spacing: 0.64px;
    font-family: 'Mardoto';
    color: #fff;
    font-size: 16px;
    list-style-type: none;
    text-decoration: none;
    white-space: nowrap;
  }
}

.footer__navlink:hover {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.footer__nav--item {
  list-style: none;
}

.social_icons img {
  padding-right: 6px;
}

.footer_lower_row p {
  font-family: 'Mardoto-Regular';
  font-size: 16px;
  letter-spacing: 0.64px;
  color: #ffffff;
  margin: 0;
}

@media (min-width: 300px) {
  .vecto {
    width: 80px;
  }
}

.vecto {
  width: 80px;
}

.shadow {
  box-shadow: 0 0 20px 0 rgba(38, 82, 130, 0.6);
  border-radius: 51px;
}

.upload-tab-content {
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

.features-tab-content {
  margin-top: 68px;
}

.login {
  color: #fff;
}

.login-link:hover {
  color: #fff;
  text-decoration: none;
}

.login-link {
  color: #fff;
  text-decoration: none;
}

.nav-account__items {
  margin: 0 20px;
}

.nav-account__items:last-child {
  margin-right: 0;
  position: relative;
}

@media (min-width: 300px) {
  .nav-account {
    display: block;
    /*margin-top: 20px;*/
  }
}

@media (min-width: 768px) {
  .nav-account {
    display: flex;
    margin-top: 20px;
  }
}

@media (min-width: 992px) {
  .nav-account {
    display: flex;
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .nav-account {
    display: flex;
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .nav-menu {
    margin: 0 60px 0 60px;
  }
}

.cart-count {
  top: -6px;
  right: -15px;
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #000;
  border-radius: 14px;
  font-size: 8px;
  text-align: center;
}

@media (min-width: 300px) {
  .nav-account__icons {
    margin-top: 10px;
  }
}

@media (min-width: 768px) {
  .nav-account__icons {
    margin-top: 0px;
  }
}

