.simple-slider .swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
  width: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width:767px) {
  .simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
    display: none;
  }
}

.simple-slider-1 .swiper-wrapper {
  margin-bottom: 40px;
}

.simple-slider-1 .swiper-pagination-bullets {
  left: 0 !important;
}

.simple-slider-1 .swiper-pagination-bullet {
  background: #D4D4D4;
}

.simple-slider-1 .swiper-pagination-bullet-active {
  background: #20B1E4;
}

.order-button {
  width: 200px;
  height: 42px;
  color: #fff;
  background-color: #20B1E4;
  border-radius: 50px;
  box-shadow: 4px 8px 10px #A3E3F9;
  cursor: pointer;
  margin: 8px 0 34px;
  border: none;
}

