.simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
  width: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width:767px) {
  .simple-slider .swiper-button-next, .swiper-button-prev {
    display: none;
  }
}

.swiper-button-prev, .swiper-button-next {
  display: none;
}

.slide_wrapper {
  margin: 0 auto;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiper-button-prev, .swiper-button-next {
  display: none;
}

.swiper-button-prev, .swiper-button-next {
  display: none;
}

@media (min-width: 992px) {
  .slider_content_text {
    font-family: 'Mardoto-Regular';
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.64px;
    margin: 36px 0 48px;
  }
}

@media (min-width: 768px) {
  .slider_content_text {
    font-family: 'Mardoto-Regular';
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.64px;
    margin: 36px 0 48px;
  }
}

@media (min-width: 300px) {
  .slider_content_text {
    font-family: 'Mardoto-Regular';
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.64px;
    margin: 5px 0 14px;
  }
}

.swiper-button-prev, .swiper-button-next {
  display: none;
}

.down_links img:first-child {
  margin-right: 12px;
}

@media (min-width: 300px) {
  .simple-slider {
    margin-bottom: 120px;
  }
}

@media (min-width: 576px) {
  .simple-slider {
    margin-bottom: 140px;
  }
}

@media (min-width: 768px) {
  .simple-slider {
    margin-bottom: 160px;
  }
}

@media (min-width: 992px) {
  .simple-slider {
    margin-bottom: 160px;
  }
}

@media (min-width: 1200px) {
  .simple-slider {
    margin-bottom: 260px;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 100%;
  background: #1D8CB4;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #fff;
}

@media (min-width: 1200px) {
  .swiper-container-horizontal > .swiper-pagination-bullets {
    left: -160px;
  }
}

@media (min-width: 300px) {
  .slider_grid {
    margin: 0 auto;
    max-width: 1240px;
    padding: 0 20px;
    display: grid;
    grid-template-areas: "a" "b" "c";
  }
}

@media (min-width: 576px) {
  .slider_grid {
    margin: 0 auto;
    max-width: 1240px;
    padding: 0 20px;
    display: grid;
    grid-template-areas: "a" "b" "c";
  }
}

@media (min-width: 768px) {
  .slider_grid {
    margin: 0 auto;
    max-width: 1240px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "a b" "c b";
  }
}

.slider__heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  grid-area: a;
}

.slider_content {
  grid-area: c;
}

@media (min-width: 300px) {
  .slider_image {
    padding: 30px 0 0;
    grid-area: b;
  }
}

@media (min-width: 576px) {
  .slider_image {
    padding: 30px 120px;
    grid-area: b;
  }
}

@media (min-width: 768px) {
  .slider_image {
    padding: 30px 0 0;
    grid-area: b;
  }
}

.black_button {
  box-shadow: 4px 8px 10px rgba(0,0,0,0.16);
}

@media (min-width: 300px) {
  .down_links {
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .down_links {
    justify-content: start;
  }
}

