.slider_heading {
  font-family: 'Bokonique';
  font-weight: 600;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 1.56;
  letter-spacing: 1px;
  color: #fff;
}

.slider_heading span {
  font-family: 'Roboto';
  font-weight: 600;
  color: #000;
}

.home {
  background-image: url(../../assets/img/blue-shape.svg), url(../../assets/img/gray-shape.svg), url(../../assets/img/bottom_bgr.svg);
  background-position: center 100px, center top, center bottom;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

@media (min-width: 300px) {
  .section-heading__span {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 20px;
    color: #20B1E4;
  }
}

@media (min-width: 576px) {
  .section-heading__span {
    font-family: 'Roboto';
    font-size: 32px;
    color: #20B1E4;
  }
}

@media (min-width: 300px) {
  .section-heading__h {
    font-family: 'Bokonique';
    font-size: 20px;
    line-height: 34px;
    padding-bottom: 29px;
    text-align: center;
  }
}

@media (min-width: 576px) {
  .section-heading__h {
    font-family: 'Bokonique';
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.64px;
    line-height: 1.25;
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .section-heading__h {
    font-family: 'Bokonique';
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.64px;
    line-height: 1.25;
  }
}

.how_image {
  flex: 0 0 596px;
  display: flex;
  justify-content: center;
  background: url(../../assets/img/round.png) 0 0/100% no-repeat;
  background-position: center bottom;
  padding: 0;
}

.how_steps li:before {
  content: url(../../assets/img/Ellipse6.svg);
  margin: 0 14px 0 0;
}

@media (min-width: 300px) {
  .how_steps li {
    font-family: 'Mardoto-Regular';
    font-size: 14px;
    padding-bottom: 10px;
    list-style: none;
  }
}

@media (min-width: 1200px) {
  .how_steps li {
    font-family: 'Mardoto-Regular';
    font-size: 16px;
    line-height: 30px;
    list-style: none;
    line-height: 2.2;
  }
}

.points_img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background: #20B1E4;
}

@media (min-width: 300px) {
  .point {
    flex: 1 1 50%;
    display: flex;
    margin-top: 22px;
  }
}

@media (min-width: 1200px) {
  .point {
    flex: 1 1 50%;
    display: flex;
    margin-top: 0;
  }
}

.points_text h1 {
  font-family: 'Bokonique';
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Bokonique';
  font-size: 16px;
  padding-bottom: 18px;
}

.points_text p {
  font-family: 'Mardoto-Regular';
  font-size: 14px;
  padding-bottom: 0px;
  line-height: 25px;
  color: #686868;
  margin-bottom: 0;
}

@media (min-width: 300px) {
  .adv-image {
    flex: 0 0 100%;
    justify-content: center;
  }
}

@media (min-width: 300px) {
  .points {
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .adv-image {
    flex: 1 1 50%;
    justify-content: left;
    padding: 0;
  }
}

@media (min-width: 992px) {
  .points {
    display: flex;
    flex: 0 1 50%;
    flex-wrap: wrap;
    margin: 28px 0 0;
    padding: 0;
  }
}

.row {
  justify-content: center;
  margin: 0;
}

@media (min-width: 1200px) {
  .adv-content {
    flex-direction: row !important;
    flex-wrap: nowrap;
  }
}

@media (min-width: 300px) {
  .adv-content {
    flex-direction: column-reverse;
  }
}

@media (min-width: 300px) {
  .features-nav-tabs {
    font: inherit;
    display: block;
    border: none;
    cursor: pointer;
    transition: background 0.1s ease;
    background-color: #fff;
    color: #686868;
    border-radius: 25px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 16%);
    flex-wrap: nowrap;
    align-items: center;
  }
}

@media (min-width: 576px) {
  .features-nav-tabs {
    display: flex;
    font: inherit;
    flex: 1;
    border: none;
    cursor: pointer;
    transition: background 0.1s ease;
    background-color: #fff;
    color: #686868;
    border-radius: 50px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 16%);
    flex-wrap: nowrap;
    align-items: center;
  }
}

.tab_text ul {
  padding-left: 20px;
  list-style-type: none;
}

@media (min-width: 300px) {
  .features-tab-text {
    font-family: 'Mardoto-Regular';
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 28px;
    color: #686868;
  }
}

@media (min-width: 768px) {
  .features-tab-text {
    font-family: 'Mardoto-Regular';
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 28px;
    line-height: 28px;
    color: #686868;
  }
}

@media (min-width: 300px) {
  .features__content-heading {
    font-family: 'Bokonique';
    font-size: 14px;
    margin-bottom: 28px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
  }
}

@media (min-width: 768px) {
  .features__content-heading {
    font-family: 'Bokonique';
    font-size: 26px;
    margin-bottom: 28px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.features-tab-text {
  flex: 0 0 60%;
  padding-left: 40px;
}

.points_text {
  padding-left: 14px;
}

@media (min-width: 300px) {
  .how_image img {
    max-width: 60%;
  }
}

@media (min-width: 576px) {
  .how_image img {
    max-width: 100%;
    padding-bottom: 20px;
  }
}

.how_row {
  display: flex;
  justify-content: center;
}

@media (min-width: 1200px) {
  .how_row {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

@media (min-width: 300px) {
  .how_steps {
    flex: 1 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .how_steps {
    flex: 1 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 10px 120px 97px;
  }
}

.how_steps p {
  font-family: 'Mardoto-Regular';
  font-size: 16px;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
}

@media (min-width: 300px) {
  .testimonials {
    padding: 60px 0 60px;
  }
}

@media (min-width: 768px) {
  .testimonials {
    padding: 120px 0 160px;
  }
}

.features {
  max-width: 1920px;
  background: #F4F9FA;
  padding: 70px 0 89px;
}

@media (min-width: 300px) {
  .adv {
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .adv {
    padding: 200px 0;
  }
}

.adv {
  max-width: 1430px;
}

.testimonials > .swiper-pagination .swiper-pagination-clickable .swiper-pagination-bullets {
  left: 0;
}

.simple-slider-1 .swiper-pagination-bullets {
  left: 0 !important;
  padding-top: 20px;
}

@media (min-width: 300px) {
  .how_steps h2 {
    font-family: 'Bokonique';
    font-weight: 600;
    font-size: 26px;
    padding-bottom: 59px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    line-height: 1.5;
  }
}

@media (min-width: 1200px) {
  .how_steps h2 {
    font-size: 26px;
    padding-bottom: 59px;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0.8px;
    line-height: 1.5;
  }
}

@media (min-width: 300px) {
  .section-heading__p {
    font-family: 'Mardoto-Regular';
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    padding-bottom: 28px;
    letter-spacing: 0.3px;
    color: #090909;
  }
}

@media (min-width: 768px) {
  .section-heading__p {
    font-family: 'Mardoto-Regular';
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    padding-bottom: 48px;
  }
}

@media (min-width: 768px) {
  .down {
    padding: 80px 0 140px;
  }
}

@media (min-width: 300px) {
  .down {
    padding: 60px 0 60px;
  }
}

.tab_text li:before {
  content: url(../../assets/img/Ellipse6.svg);
  margin: 0 18px 0 0;
}

main {
}

.from img {
  margin: 0 16px 3px 0;
}

.form-block {
  display: flex;
  padding-bottom: 40px;
}

.form-container__heading {
  font-family: Bokonique;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 1.28px;
  text-align: center;
  color: #090909;
}

.lang-button {
  width: 210px;
  padding: 14px 0;
  border-radius: 34px;
  border: solid 0.5px #8aa7ae;
  display: inline-block;
  font-family: Mardoto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: center;
  color: #686868;
}

.checked_foreign {
  width: 210px;
  padding: 13px 0;
  border-radius: 34px;
  border: solid 0.5px #8aa7ae;
  display: inline-block;
  font-family: Mardoto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: center;
  color: #686868;
  border: solid 2px #20b1e4;
}

.checked {
  width: 210px;
  padding: 13px 0;
  border-radius: 34px;
  border: solid 0.5px #8aa7ae;
  display: inline-block;
  font-family: Mardoto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: center;
  color: #686868;
  border: solid 2px #20b1e4;
}

.lang-buttons:last-child {
  margin: 0;
}

.field-subheading span {
  font-family: 'Rondal';
  font-size: 26px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #20b1e4;
}

.field-subheading {
  font-family: 'Mardoto';
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: left;
  color: #090909;
}

.field-subheading {
  margin: 10px 0 12px;
}

.type__button {
  width: 210px;
  height: 120px;
  padding: 80px 49px 0;
  border-radius: 6px;
  border: solid 0.5px #8aa7ae;
  display: grid;
  font-family: Bokonique;
  font-size: 14px;
  letter-spacing: 0.56px;
  text-align: center;
  color: #686868;
  cursor: pointer;
}

.type__img {
  margin: 0 auto;
}

.type__button-general {
  background: url(../../assets/img/general.svg) center 36px no-repeat;
}

.type__button-notary {
  background: url(../../assets/img/scale.svg) center 36px no-repeat;
}

.type__button-apostile {
  background: url(../../assets/img/seal.svg) center 36px no-repeat;
}

.checked_term {
  background-color: #20B1E4 !important;
  color: #fff;
}

.checked_button {
  background-color: #20B1E4 !important;
  color: #fff;
}

.features-nav-item {
  text-align: center;
  flex: 1 1 33.333%;
  margin: 0;
  align-items: center;
}

.upload-nav-tabs .upload-nav-link.active {
  border-color: rgba(255,255,255,0);
  color: #000000;
}

.upload-nav-item {
  flex: 1 1 50%;
  text-align: center;
  color: #20B1E4;
}

.upload-nav-link {
  color: #20B1E4;
  font-family: 'Bokonique';
  font-size: 14px;
  border-bottom: 2px solid #20B1E4;
}

.upload-nav-tabs .upload-nav-link {
  border-bottom: 2px solid #20B1E4;
}

.file-input-label {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
  width: 670px;
  height: 180px;
  background-color: #F8F8F8 !important;
  border: 2px dashed #8AA7AE;
  border-radius: 6px;
  font-family: 'Mardoto';
  font-size: 16px;
  color: #8E8E8E;
  background: url(../../assets/img/upload_icon.svg) center center no-repeat;
}

.form-control-file {
  display: none;
}

.disabled {
  background-color: #E6E6E6;
  border: none;
  pointer-events: none;
}

.pages-count {
  border-radius: 28px;
}

textarea.form-control {
  height: 180px;
}

.lang-button:hover {
  cursor: pointer;
}

.file-input-label:hover {
  cursor: pointer;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: #fff #fff #fff;
}

.form-control:focus {
  border-color: #20b1e4;
  box-shadow: 0 0 0 .2rem rgba(32,177,228,.25);
}

.terms-container {
  max-width: 100%;
  background-color: #f8f8f8;
  height: 56px;
  font-family: Mardoto;
  font-size: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: center;
  color: #686868;
  border-radius: 50px;
}

.radio-input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.term-buttons {
  flex: 1 1 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  border: solid 1px #ebebeb;
}

label {
  margin-bottom: 0;
}

.terms-container:first-child {
  border-radius: 50px 0 0 50px;
}

.term-buttons:first-child {
  border-radius: 50px 0 0 50px;
}

.term-buttons:last-child {
  border-radius: 0 50px 50px 0;
}

.form-address__form-control {
  display: flex;
  width: 670px;
  border-radius: 50px;
}

.form__checkout {
  width: 360px;
  height: 460px;
  box-shadow: 0 0 12px 0 rgba(110, 136, 142, 0.4);
  background-color: #f5f5f5;
}

.form__checkout-heading {
  margin: 26px;
  font-family: Bokonique;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.27;
  letter-spacing: 0.88px;
  color: #20b1e4;
}

.form__order-details-container {
  padding: 22px 26px;
  font-family: Mardoto;
  font-size: 16px;
  border-style: solid;
  border-width: 1px 0;
  border-color: #d9d9d9;
}

.form__order-details {
  display: flex;
  justify-content: space-between;
}

.form__order-value {
  text-align: right;
  color: #686868;
}

.order-total {
  padding: 24px 0;
  border-bottom: 1px solid #d9d9d9;
}

