.slider_heading {
  font-family: 'Bokonique';
  font-weight: 600;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 1.56;
  letter-spacing: 1px;
  color: #fff;
}

.slider_heading span {
  font-family: 'Roboto';
  font-weight: 600;
  color: #000;
}

.home {
  background-image: url(../../assets/img/blue-shape.svg), url(../../assets/img/gray-shape.svg), url(../../assets/img/bottom_bgr.svg);
  background-position: center 100px, center top, center bottom;
  background-repeat: no-repeat, no-repeat, no-repeat;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

@media (min-width: 300px) {
  .section-heading__span {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 20px;
    color: #20B1E4;
  }
}

@media (min-width: 576px) {
  .section-heading__span {
    font-family: 'Roboto';
    font-size: 32px;
    color: #20B1E4;
  }
}

@media (min-width: 300px) {
  .section-heading__h {
    font-family: 'Bokonique';
    font-size: 20px;
    line-height: 34px;
    padding-bottom: 29px;
    text-align: center;
  }
}

@media (min-width: 576px) {
  .section-heading__h {
    font-family: 'Bokonique';
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.64px;
    line-height: 1.25;
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .section-heading__h {
    font-family: 'Bokonique';
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0.64px;
    line-height: 1.25;
  }
}

.how_image {
  flex: 0 0 596px;
  display: flex;
  justify-content: center;
  background: url(../../assets/img/round.png) 0 0/100% no-repeat;
  background-position: center bottom;
  padding: 0;
}

.how_steps li:before {
  content: url(../../assets/img/Ellipse6.svg);
  margin: 0 14px 0 0;
}

@media (min-width: 300px) {
  .how_steps li {
    font-family: 'Mardoto-Regular';
    font-size: 14px;
    padding-bottom: 10px;
    list-style: none;
  }
}

@media (min-width: 1200px) {
  .how_steps li {
    font-family: 'Mardoto-Regular';
    font-size: 16px;
    list-style: none;
    line-height: 2.2;
  }
}

.points_img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background: #20B1E4;
}

@media (min-width: 300px) {
  .point {
    flex: 1 1 50%;
    display: flex;
    margin-top: 22px;
  }
}

@media (min-width: 1200px) {
  .point {
    flex: 1 1 50%;
    display: flex;
    margin-top: 0;
  }
}

.points_text h1 {
  font-family: 'Bokonique';
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Bokonique';
  font-size: 16px;
  padding-bottom: 18px;
}

.points_text p {
  font-family: 'Mardoto-Regular';
  font-size: 14px;
  padding-bottom: 0px;
  line-height: 25px;
  color: #686868;
  margin-bottom: 0;
}

@media (min-width: 300px) {
  .adv-image {
    flex: 0 0 100%;
    justify-content: center;
  }
}

@media (min-width: 300px) {
  .points {
    display: flex;
    flex: 0 0 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .adv-image {
    flex: 1 1 50%;
    justify-content: left;
    padding: 0;
  }
}

@media (min-width: 992px) {
  .points {
    display: flex;
    flex: 0 1 50%;
    flex-wrap: wrap;
    margin: 28px 0 0;
    padding: 0;
  }
}

.row {
  justify-content: center;
  margin: 0;
}

@media (min-width: 1200px) {
  .adv-content {
    flex-direction: row !important;
    flex-wrap: nowrap;
  }
}

@media (min-width: 300px) {
  .adv-content {
    flex-direction: column-reverse;
  }
}

@media (min-width: 300px) {
  .features-nav-tabs {
    font: inherit;
    display: block;
    border: none;
    cursor: pointer;
    transition: background 0.1s ease;
    background-color: #fff;
    color: #686868;
    border-radius: 25px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 16%);
    flex-wrap: nowrap;
    align-items: center;
  }
}

@media (min-width: 576px) {
  .features-nav-tabs {
    display: flex;
    font: inherit;
    flex: 1;
    border: none;
    cursor: pointer;
    transition: background 0.1s ease;
    background-color: #fff;
    color: #686868;
    border-radius: 50px;
    box-shadow: 0 2px 6px rgb(0 0 0 / 16%);
    flex-wrap: nowrap;
    align-items: center;
  }
}

.tab_text ul {
  padding-left: 20px;
  list-style-type: none;
}

@media (min-width: 300px) {
  .features-tab-text {
    font-family: 'Mardoto-Regular';
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 28px;
    color: #686868;
  }
}

@media (min-width: 768px) {
  .features-tab-text {
    font-family: 'Mardoto-Regular';
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 28px;
    line-height: 28px;
    color: #686868;
  }
}

@media (min-width: 300px) {
  .features__content-heading {
    font-family: 'Bokonique';
    font-size: 14px;
    margin-bottom: 28px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
  }
}

@media (min-width: 768px) {
  .features__content-heading {
    font-family: 'Bokonique';
    font-size: 26px;
    margin-bottom: 28px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.features-tab-text {
  flex: 0 0 60%;
  padding-left: 40px;
  overflow: hidden;
}

.points_text {
  padding-left: 14px;
}

@media (min-width: 300px) {
  .how_image img {
    max-width: 60%;
  }
}

@media (min-width: 576px) {
  .how_image img {
    max-width: 100%;
    padding-bottom: 20px;
  }
}

.how_row {
  display: flex;
  justify-content: center;
}

@media (min-width: 1200px) {
  .how_row {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

@media (min-width: 300px) {
  .how_steps {
    flex: 1 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .how_steps {
    flex: 1 0 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 10px 120px 97px;
  }
}

.how_steps p {
  font-family: 'Mardoto-Regular';
  font-size: 16px;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
}

@media (min-width: 300px) {
  .testimonials {
    padding: 60px 0 60px;
  }
}

@media (min-width: 768px) {
  .testimonials {
    padding: 120px 0 160px;
  }
}

.features {
  max-width: 1920px !important;
  background: #F4F9FA;
  padding: 70px 0 89px;
}

@media (min-width: 300px) {
  .adv {
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .adv {
    padding: 200px 0;
  }
}

.adv {
  max-width: 1430px;
}

.testimonials > .swiper-pagination .swiper-pagination-clickable .swiper-pagination-bullets {
  left: 0;
}

.simple-slider-1 .swiper-pagination-bullets {
  left: 0 !important;
  padding-top: 20px;
}

@media (min-width: 300px) {
  .how_steps h2 {
    font-family: 'Bokonique';
    font-weight: 600;
    font-size: 26px;
    padding-bottom: 59px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    line-height: 1.5;
  }
}

@media (min-width: 1200px) {
  .how_steps h2 {
    font-size: 26px;
    padding-bottom: 59px;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0.8px;
    line-height: 1.5;
  }
}

@media (min-width: 300px) {
  .section-heading__p {
    font-family: 'Mardoto-Regular';
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    padding-bottom: 28px;
    letter-spacing: 0.3px;
    color: #090909;
  }
}

@media (min-width: 768px) {
  .section-heading__p {
    font-family: 'Mardoto-Regular';
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    padding-bottom: 48px;
  }
}

@media (min-width: 768px) {
  .down {
    padding: 80px 0 140px;
  }
}

@media (min-width: 300px) {
  .down {
    padding: 60px 0 60px;
  }
}

.tab_text li:before {
  content: url(../../assets/img/Ellipse6.svg);
  margin: 0 18px 0 0;
}

main {
}

.from img {
  margin: 0 16px 3px 0;
}

@media (min-width: 300px) {
  .form-block {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .form-block {
    max-width: 100%;
    display: flex;
    padding-bottom: 40px;
    flex-direction: row;
  }
}

@media (min-width: 300px) {
  .form-container__heading {
    font-family: Bokonique;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 1.28px;
    text-align: center;
    color: #090909;
  }
}

@media (min-width: 576px) {
  .form-container__heading {
    font-size: 32px;
  }
}

@media (min-width: 300px) {
  .lang-button {
    display: flex;
    flex: 1 1 33.333%;
    max-width: 210px;
    padding: 14px 32px;
    border-radius: 34px;
    border: solid 1px #8aa7ae;
    display: inline-block;
    font-family: Mardoto;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    color: #686868;
    white-space: nowrap;
  }
}

@media (min-width: 992px) {
  .lang-button {
    max-width: 210px;
    padding: 14px 48px;
    display: inline-block;
    font-family: Mardoto;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    color: #686868;
    white-space: nowrap;
    border-radius: 34px;
    border: solid 1px #8aa7ae;
  }
}

.checked_foreign {
  padding: 13px 47px;
  border-radius: 34px;
  border: solid 2px #20b1e4;
}

.checked {
  border-radius: 34px;
  display: inline-block;
  color: #686868;
  border: solid 2px #20b1e4;
  padding: 13px 47px;
}

.field-subheading span {
  font-family: 'Rondal';
  font-size: 26px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
  color: #20b1e4;
}

.field-subheading {
  font-family: 'Mardoto';
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #090909;
  padding-bottom: 12px;
  margin: 0;
}

.type__button {
  padding: 80px 0px 10px;
  border-radius: 6px;
  border: solid 0.5px #8aa7ae;
  display: grid;
  font-family: Bokonique;
  font-size: 14px;
  letter-spacing: 0.56px;
  text-align: center;
  color: #686868;
  cursor: pointer;
  margin: 10px 0;
}

.type__img {
  margin: 0 auto;
}

.type__button-general {
  background: url(../../assets/img/general.svg) center 36px no-repeat;
}

.type__button-general.checked_button {
  background: url(../../assets/img/general_white.svg) center 36px no-repeat;
}

.type__button-notary {
  background: url(../../assets/img/scale.svg) center 36px no-repeat;
}

.type__button-notary.checked_button {
  background: url(../../assets/img/scale_white.svg) center 36px no-repeat;
}

.type__button-apostile {
  background: url(../../assets/img/seal.svg) center 36px no-repeat;
}

.type__button-apostile.checked_button {
  background: url(../../assets/img/seal_white.svg) center 36px no-repeat;
}

.checked_term {
  background-color: #20B1E4 !important;
  color: #fff;
}

.checked_button {
  background-color: #20B1E4 !important;
  color: #fff;
}

.features-nav-item {
  text-align: center;
  flex: 1 1 33.333%;
  margin: 0;
  align-items: center;
}

.upload-nav-tabs .upload-nav-link.active {
  border-color: rgba(255,255,255,0);
  color: #000000;
}

.upload-nav-item {
  flex: 1 1 50%;
  text-align: center;
  color: #20B1E4;
}

.upload-nav-link {
  color: #20B1E4;
  font-family: 'Bokonique';
  font-size: 14px;
  border-bottom: 2px solid #20B1E4;
}

.upload-nav-tabs .upload-nav-link {
  border-bottom: 2px solid #20B1E4;
}

@media (min-width: 300px) {
  .file-input-label {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    width: 100%;
    height: 190px;
    background-color: #F8F8F8 !important;
    border: 2px dashed #8AA7AE;
    border-radius: 6px;
    font-family: 'Mardoto';
    font-size: 16px;
    color: #8E8E8E;
    background: url(../../assets/img/upload_icon.svg) center 7vh no-repeat;
  }
}

@media (min-width: 576px) {
  .file-input-label {
    background: url(../../assets/img/upload_icon.svg) center 5vh no-repeat;
  }
}

@media (min-width: 1200px) {
  .file-input-label {
    background: url(../../assets/img/upload_icon.svg) center 5vh no-repeat;
  }
}

.form-control-file {
  display: none;
}

.disabled {
  background-color: #E6E6E6;
  border: 1px solid #E6E6E6;
  pointer-events: none;
}

.pages-count-value {
  border-radius: 28px;
  margin-left: 10px;
}

.lang-button:hover {
  cursor: pointer;
}

.file-input-label:hover {
  cursor: pointer;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: #fff #fff #fff;
}

.form-control:focus {
  border-color: #20b1e4;
  box-shadow: 0 0 0 .2rem rgba(32,177,228,.25);
}

.terms-container {
  max-width: 100%;
  background-color: #f8f8f8;
  height: 56px;
  font-family: Mardoto;
  font-size: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.53;
  letter-spacing: normal;
  text-align: center;
  color: #686868;
  border-radius: 50px;
}

.radio-input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.term-buttons {
  flex: 1 1 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  border: solid 1px #ebebeb;
}

label {
  margin-bottom: 0;
}

.terms-container:first-child {
  border-radius: 50px 0 0 50px;
}

.term-buttons:first-child {
  border-radius: 50px 0 0 50px;
}

.term-buttons:last-child {
  border-radius: 0 50px 50px 0;
}

.form-address__form-control {
  border-radius: 50px;
  font-family: 'Mardoto-Regular';
  font-size: 16px;
}

@media (min-width: 300px) {
  .form__checkout {
    display: table;
    width: 360px;
    box-shadow: 0 0 12px 0 rgba(110, 136, 142, 0.4);
    background-color: #f5f5f5;
    margin-top: 40px;
  }
}

@media (min-width: 1232px) {
  .form__checkout {
    display: table;
    width: 360px;
    box-shadow: 0 0 12px 0 rgba(110, 136, 142, 0.4);
    background-color: #f5f5f5;
    margin-top: 0px;
  }
}

.form__checkout-heading {
  margin: 26px;
  font-family: Bokonique;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.27;
  letter-spacing: 0.88px;
  color: #20b1e4;
}

.form__order-details-container {
  padding: 22px 26px;
  font-family: Mardoto;
  font-size: 16px;
  border-style: solid;
  border-width: 1px 0;
  border-color: #d9d9d9;
}

.form__order-details {
  display: flex;
  justify-content: space-between;
}

.form__order-value {
  text-align: right;
  color: #686868;
}

.order-total {
  padding: 24px 0;
  border-bottom: 1px solid #d9d9d9;
  font-family: 'Mardoto';
}

.term-buttons:hover {
  cursor: pointer;
}

.form__submit-button {
  width: 308px;
  height: 60px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: #20b1e4;
  font-family: Bokonique;
  font-size: 18px;
  letter-spacing: 0.72px;
  color: #ffffff;
  border: none;
}

section {
  max-width: 1272px;
  margin: 100px auto;
}

.order-total-heading {
  margin: 0 20px 0 0;
  font-size: 16px;
  color: #686868;
}

.order-total-value {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.pages-count {
  white-space: nowrap;
}

.pages {
  padding: 40px 0;
}

.number-circle {
  display: flex;
  flex: 0 0 56px;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 28px;
  margin-right: 24px;
  background-color: #d5f8ff;
}

.number-circle__number {
  font-family: 'Bokonique';
  font-size: 26px;
  margin: 0;
  padding: 0;
}

@media (min-width: 300px) {
  .form-container {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    padding: 34px 35px 50px;
    border-radius: 12px;
    box-shadow: 0 0 10px 0 rgba(143, 169, 175, 0.4);
    background-color: #ffffff;
    margin: 0 10px;
  }
}

@media (min-width: 1200px) {
  .form-container {
    max-width: 862px;
    margin: 0;
    padding: 34px 55px 100px;
  }
}

.lang-buttons {
  max-width: 100%;
}

.type {
  max-width: 100%;
}

@media (min-width: 300px) {
  .from-language {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding-bottom: 40px;
    margin-top: 0px;
  }
}

@media (min-width: 768px) {
  .from-language {
    padding-bottom: 80px;
  }
}

.lang-button-container {
  display: flex;
  /*max-width: 210px;*/
  padding: 0;
  /*border-radius: 34px;*/
  /*border: solid 1px #8aa7ae;*/
  margin: 8px;
}

@media (min-width: 300px) {
  .to-language {
    max-width: 100%;
    padding-bottom: 40px;
  }
}

@media (min-width: 768px) {
  .to-language {
    max-width: 100%;
    padding-bottom: 80px;
  }
}

@media (min-width: 300px) {
  .form-divider {
    width: 100%;
    height: 0;
    margin: 34px 0 42px;
    border: solid 1px #d9d9d9;
  }
}

@media (min-width: 576px) {
  .form-divider {
    width: 100%;
    height: 0;
    margin: 34px 0 82px;
    border: solid 1px #d9d9d9;
  }
}

.field-subheading-container {
  height: 56px;
  display: flex;
  align-items: center;
}

@media (min-width: 300px) {
  .text-input {
    padding: 10px;
    height: 190px;
    border-radius: 6px;
    border: solid 0.5px #8aa7ae;
    background-color: #ffffff;
  }
}

@media (min-width: 992px) {
  .text-input {
    padding: 22px;
  }
}

#dropFiles {
  max-width: 100%;
}

.form-control.text-input {
  height: 190px;
}

.form-address__label {
  width: 100%;
}

.list-circle {
  margin: 0 12px 6px 0;
}

@keyframes tabs {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0px);
  }
}

.fp-tabs.active {
  animation: tabs;
  animation-duration: 0.6s;
}

.form-button-container {
  padding: 24px 0;
}

.type-button img {
  margin: 0 auto;
}

.middle {
  /*margin: 0 20px;*/
}

.lang-button img {
  margin: 0 16px 3px 0;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    /*display: -ms-flexbox!important;*/
    display: block!important;
    flex-basis: auto;
  }
}

@media (min-width: 992px) {
  .navbar-expand-md .navbar-collapse {
    /*display: -ms-flexbox!important;*/
    display: flex!important;
    flex-basis: auto;
  }
}

@media (min-width:1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1272px;
  }
}

#filenames {
  font-family: 'Mardoto-Regular';
  font-size: 16px;
  margin-top: 26px;
  line-height: 1.7;
}

